@font-face {
    font-family: Futura_Bold;
    src: url("../font/FuturaLT/FuturaBold.otf") format("opentype");
}

@font-face {
    font-family: FuturaMedium;
    src: url("../font/FuturaLT/Futura Medium.otf") format("opentype");
}

@font-face {
    font-family: FuturaPT_Book;
    src: url("../font/FuturaLT/futura-pt-book.otf") format("opentype");
}

@font-face {
    font-family: FuturaLT_Book;
    src: url("../font/FuturaLT/FuturaLT-Book.otf") format("opentype");
}

@font-face {
    font-family: FuturaLT_Bold;
    src: url("../font/FuturaLT/FuturaLTBold.otf") format("opentype");
}

@font-face {
    font-family: AvenirLTStd-Book;
    src: url("../font/AvenirLTStd-Book.otf") format("opentype");
}

@font-face {
    font-family: AvenirLTStd-Black;
    src: url("../font/AvenirLTStd-Black.otf") format("opentype");
}

@font-face {
    font-family: AEH;
    src: url("../font/Avenir-Heavy.woff") format('woff');
}

@font-face {
    font-family: AvenirLTStd-Light_2;
    src: url("../font/AvenirLTStd-Light_2.otf") format("opentype");
}

@import url(//db.onlinewebfonts.com/c/70700c84f783f6dcb8459abcfb6d9d02?family=Futura+LT);
