* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    max-width: 1190px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
    overflow-x: hidden;
}

.content .mainPoster {
    width: 100%;
    height: 240px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    background-image: url(../img/gomora.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 0 30px 175px;
}

.content .mainPoster .pinkBtn {
    font-family: FuturaMedium;
    font-weight: normal;
    width: 235px;
    height: 40px;
    background-color: #EC008C;
    border: none;
    border-radius: 1.7vw;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
}

.content .mainPoster .pinkBtn:hover {
    cursor: pointer;
    color: white;
}

.content .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #1D1D1D;
    padding: 65px 44px 100px 67px;
}

.content .h3 {
    font-size: 29px;
    font-weight: bolder;
    margin: 0;
}

.content .tittle {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 0 43px 29px;
}

.content .tittle .line {
    margin: 0 0 0.53vw 0;
}

.content .orange .line {
    width: 67.7%;
    margin: 0 11px 10px 84px;
}

.content .orange .seeAll:hover {
    color: #F36F21;
}

.content .pink .line {
    width: 55.2%;
    margin: 0 11px 10px 76px;
}

.content .pink .seeAll:hover {
    color: #EC008C;
}

.content .yellow .line {
    width: 84%;
    margin: 0 11px 10px 24px;
}

.content .yellow .seeAll:hover {
    color: #FDB834;
}

.content .green .line {
    width: 78%;
    margin: 0 11px 10px 3.65vw;
}

.content .green .seeAll:hover {
    color: #4DB848;
}

.content .tittle .seeAll {
    font-size: 12px;
    font-family: FuturaPT_Book;
    margin: 0 0 10px;
    line-height: 1.7;
}

.content .tittle .seeAll:hover {
    cursor: pointer;
}

.movieBox {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 0 90px;
}

.movieBox .left,
.movieBox .right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.h4 {
    font-size: 13px;
    color: white;
    margin: 0;
}

.movieBox .h4,
.movieBox .p {
    margin: 0 0 0 14px;
}

.pink .filmBox .imgBox {
    background-color: #EC008C;
}

.green .filmBox .imgBox,
#sliderSport .imgBox {
    background-color: #4DB848;
}

.filmBox {
    border-radius: 20px;
    overflow: hidden;
}

.filmBox .imgBox {
    padding: 0 0 1px 1px;
    border-radius: 20px;
    margin: 0 0 11px;
    overflow: hidden;
}

.filmBox .imgBox .img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all 0.5s;
}

.filmBox .imgBox .img:hover {
    transform: scale(1.1);
}

.imgBox .img6 {
    background-image: url(../img/img1.png);
}

.imgBox .img7 {
    background-image: url(../img/img2.png);
}

.imgBox .img8 {
    background-image: url(../img/img3.png);
}

.imgBox .img9 {
    background-image: url(../img/img4.png);
}

.imgBox .img10 {
    background-image: url(../img/img5.png);
}

.imgBox .img11 {
    background-image: url(../img/img6.png);
}

.imgBox .img12 {
    background-image: url(../img/img7.png);
}

.imgBox .img13 {
    background-image: url(../img/img8.png);
}

.imgBox .img14 {
    background-image: url(../img/img9.png);
}

.imgBox .img15 {
    background-image: url(../img/img10.png);
}

.movieBox .left .filmBox .imgBox {
    width: 614px;
    height: 380px;
}

.movieBox .right .filmBox .imgBox {
    height: 166px;
    width: 412px;
}

.movieBox .right .filmBox:first-of-type {
    margin: 0 0 18px;
}

.kidsBox {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0 90px;
}

.kidsBox .imgBox {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.kidsBox .filmBox {
    width: 47%;
    height: 257px;
    background-color: #FDB834;
    border-radius: 20px;
    margin: 0 0 1.67vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    position: relative;
}

.kidsBox .filmBox:nth-of-type(2n-1) {
    margin: 0 50px 32px 0;
}

.kidsBox .filmBox .h4,
.kidsBox .filmBox .p {
    position: relative;
    z-index: 1;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
    padding: 0px 0 0 44px;
    font-size: 16px;
    line-height: 1.5;
}

.kidsBox .filmBox .p {
    padding: 0px 0 32px 44px;
    margin: 0;
}

.greenMob {
    display: none;
}



/*slider style*/
.owl-carousel {
    display: none;
    width: 89%;
    z-index: 1;
}

.item {
    padding: 0 1px;
}

.item .imgBox {
    width: 209px;
    height: 168px;
    padding: 0 0 0.05vw 0.05vw;
    background-color: #F36F21;
    border-radius: 20px;
    margin: 0 0 0.63vw;
    overflow: hidden;
}

.item .imgBox img {
    width: 100%;
    height: 100%;
}

.item .h4,
.item .p {
    margin: 0 0 0 14px;
}

#sliderLocal {
    margin: 0 0 90px 0;
}

#sliderSport {
    display: none;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    background-color: #00A7B9;
    border-radius: 50%;
    width: 43px;
    height: 43px;
    top: 28%;
    right: 2px;
    background-image: url(../img/arrowR.png);
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: 53% center;
    position: absolute;
}

.owl-carousel .owl-nav button.owl-prev {
    display: none;
}

.owl-carousel .owl-nav button.owl-next:focus,
.owl-carousel .owl-nav button.owl-prev:focus {
    outline: none;
}

.owl-carousel .owl-nav button.owl-next span,
.owl-carousel .owl-nav button.owl-prev span {
    display: none;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.text .p {
    font-family: AvenirLTStd-Book;
    letter-spacing: 0.4px;
}

.owl-carousel .imgBox .img-fluid:hover {
    transform: scale(1.1);
}

.owl-carousel .imgBox .img-fluid {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    transition: all 0.5s;
}


.owl-carousel .imgBox .img1 {
    background-image: url(../img/img11.png);
}

.owl-carousel .imgBox .img2 {
    background-image: url(../img/img12.png);
}

.owl-carousel .imgBox .img3 {
    background-image: url(../img/img13.png);
}

.owl-carousel .imgBox .img4 {
    background-image: url(../img/img14.png);
}

.owl-carousel .imgBox .img5 {
    background-image: url(../img/img15.png);
}

.owl-carousel .imgBox .img16 {
    background-image: url(../img/img8.png);
}

.owl-carousel .imgBox .img17 {
    background-image: url(../img/img9.png);
}

.owl-carousel .imgBox .img18 {
    background-image: url(../img/img10.png);
}


@media (max-width: 1920px) {
    .content {
        max-width: 62vw;
    }

    .content .mainPoster {
        height: 12.5vw;
        padding: 0 0 1.6vw 9.12vw;
    }

    .content .mainPoster .pinkBtn {
        width: 12.25vw;
        height: 2.1vw;
        border-radius: 1.7vw;
        font-size: 0.73vw;
    }

    .content .main {
        padding: 3.4vw 2.3vw 5.21vw 3.5vw;
    }

    .content .h3 {
        font-size: 1.5vw;
    }

    .content .tittle {
        padding: 0 0 2.24vw 1.52vw;
    }

    .content .tittle .line {
        margin: 0 0 0.53vw 0;
    }

    .content .orange .line {
        width: 67.7%;
        margin: 0 0.6vw 0.53vw 4.38vw;
    }

    .content .pink .line {
        width: 55.2%;
        margin: 0 0.57vw 0.53vw 4vw;
    }

    .content .yellow .line {
        width: 84%;
        margin: 0 0.6vw 0.53vw 1.25vw;
    }

    .content .green .line {
        width: 78%;
        margin: 0 0.6vw 0.53vw 3.65vw;
    }

    .content .tittle .seeAll {
        font-size: 0.63vw;
        margin: 0 0 0.53vw;
        line-height: 1.7;
    }

    .movieBox {
        margin: 0 0 4.7vw;
    }

    .h4 {
        font-size: 0.68vw;
    }

    .movieBox .h4,
    .movieBox .p {
        margin: 0 0 0 0.73vw;
    }

    .filmBox .imgBox {
        padding: 0 0 0.05vw 0.05vw;
        border-radius: 1.05vw;
        margin: 0 0 0.6vw;
    }

    .filmBox {
        border-radius: 1.05vw;
        overflow: hidden;
    }

    .filmBox .imgBox .img:hover {
        transform: scale(1.1);
    }

    .filmBox .imgBox .img {
        border-radius: 1.05vw;
    }

    .movieBox .left .filmBox .imgBox {
        width: 32vw;
        height: 19.8vw;
    }

    .movieBox .right .filmBox .imgBox {
        height: 8.65vw;
        width: 21.46vw;
    }

    .movieBox .right .filmBox:first-of-type {
        margin: 0 0 0.94vw;
    }

    .kidsBox {
        margin: 0 0 4.7vw;
    }

    .kidsBox .filmBox {
        width: 47%;
        height: 13.4vw;
        border-radius: 1.05vw;
        margin: 0 0 1.67vw;
    }

    .kidsBox .filmBox:nth-of-type(2n-1) {
        margin: 0 2.6vw 1.67vw 0;
    }

    .kidsBox .filmBox .h4,
    .kidsBox .filmBox .p {
        padding: 0px 0 0 2.3vw;
        font-size: 0.84vw;
        line-height: 1.5;
    }

    .kidsBox .filmBox .p {
        padding: 0px 0 1.67vw 2.3vw;
    }

    /*slider style*/
    .owl-carousel {
        width: 89%;
    }

    .item {
        padding: 0 0.1vw;
    }

    .item .imgBox {
        width: 10.9vw;
        height: 8.8vw;
        padding: 0 0 0.05vw 0.05vw;
        border-radius: 1.05vw;
        margin: 0 0 0.63vw;
    }

    .item .h4,
    .item .p {
        margin: 0 0 0 0.73vw;
    }

    #sliderLocal {
        margin: 0 0 4.7vw 0;
    }

    .owl-carousel .owl-nav button.owl-next,
    .owl-carousel .owl-nav button.owl-prev {
        width: 2.25vw;
        height: 2.25vw;
        top: 28%;
        right: -0.2vw;
        background-size: 25%;
        background-position: 53% center;
    }

    .owl-carousel .imgBox .img-fluid {
        border-radius: 1.05vw;
    }
}

@media (max-width: 1080px) {
    body {
        background-size: 121% 105% !important;
    }

    .content {
        max-width: 100vw;
    }

    .content .mainPoster {
        height: 58.4vw;
        background-image: url(../img/gomora2.png);
        padding: 0 0 6.6vw 8.3vw;
    }

    .content .mainPoster .pinkBtn {
        width: 37.6vw;
        height: 8.9vw;
        border-radius: 5.7vw;
        font-size: 2.23vw;
        box-shadow: 1vw 1vw 1vw rgba(0, 0, 0, 0.5);
    }

    .content .tittle .line {
        display: none;
    }

    .content .h3 {
        font-size: 4.45vw;
    }

    .content .tittle .seeAll {
        font-size: 2.04vw;
        margin: 0 0 1.2vw;
    }

    .content .main {
        padding: 13.9vw 9.5vw 5.21vw 9.5vw;
        background-color: transparent;
    }

    .content .tittle {
        padding: 0 0 2.24vw;
    }

    .movieBox,
    .kidsBox {
        margin: 0 0 8.7vw 0;
    }

    #sliderSport {
        display: block;
    }

    .owl-carousel {
        margin: 0 0 8.7vw 0;
        width: 100%;
        height: 22vw;
    }


    .owl-carousel .item .imgBox {
        width: 100%;
        height: 25vw;
        padding: 0 0 0.05vw 0.05vw;
        background-color: #F36F21;
        border-radius: 2.5vw;
    }

    .owl-carousel .item .imgBox .img {
        width: 100%;
        margin: 0;
        height: 100%;
        border-radius: 2.5vw;
    }

    .owl-carousel .text {
        position: absolute;
        bottom: 2.3vw;
    }

    .owl-carousel .h4,
    .owl-carousel .p {
        margin: 0 0 0 3.6vw;
        font-size: 2.04vw;
        line-height: 1.5;
    }

    .owl-carousel .imgBox .img-fluid {
        border-radius: 2.5vw;
    }

    .filmBox .h4,
    .kidsBox .filmBox .h4 {
        font-size: 2.04vw;
        line-height: 1.5;
        margin: 0 0 0 2.6vw;
        padding: 0;
        font-family: Futura_Bold;
    }

    .filmBox .p,
    .kidsBox .filmBox .p {
        display: none;
    }

    .owl-carousel .text .p {
        display: none;
        /*
        padding: 0 3vw 0 0;
        font-family: Futura_Bold;
*/
    }

    .owl-carousel .item {
        width: 97%;
    }

    .owl-carousel .owl-nav button.owl-next,
    .owl-carousel .owl-nav button.owl-prev {
        width: 7.8vw;
        height: 7.8vw;
        top: 39%;
        right: -2.7vw;
        opacity: 1 !important;
    }

    .owl-carousel .owl-nav button.owl-prev {
        transform: rotate(180deg);
        left: -2.7vw;
        display: block;
    }

    .filmBox .imgBox {
        padding: 0 0 0.1vw 0.1vw;
        border-radius: 2.5vw;
        margin: 0 0 0.6vw;
    }

    .filmBox .imgBox .img {
        border-radius: 2.5vw;
    }

    .movieBox .left .filmBox .imgBox {
        width: 41.4vw;
        height: 34vw;
        margin: 0;
    }

    .movieBox .filmBox {
        position: relative;
    }

    .movieBox .text,
    .kidsBox .text {
        position: absolute;
        bottom: 2vw;
    }

    .movieBox .right .filmBox .imgBox {
        height: 15.9vw;
        width: 37vw;
        overflow: hidden;
        margin: 0;
    }

    .filmBox .imgBox {
        overflow: hidden;
    }

    .kidsBox .filmBox {
        width: 47.4%;
        height: 34.43vw;
        border-radius: 2.5vw;
        margin: 0 0 1.67vw;
    }

    .kidsBox .filmBox:nth-of-type(2n-1) {
        margin: 0 3vw 0 0;
    }

    .kidsBox .filmBox:nth-of-type(3),
    .kidsBox .filmBox:nth-of-type(4) {
        display: none;
    }

    .movieBox .right .filmBox:first-of-type {
        margin: 0 0 2.2vw;
    }

    .owl-carousel {
        display: block;
    }

    .green {
        display: none;
    }

    #sliderLocal {
        margin: 0 0 8.7vw;
    }

}

@media (max-width: 768px) {
    .content .mainPoster .pinkBtn {
        width: 44vw;
        font-size: 2.9vw;
    }

    .content .mainPoster {
        padding: 0 0 6.6vw 6.3vw;
    }

    .content .h3 {
        font-size: 5.3vw;
    }

    .content .tittle .seeAll {
        font-size: 2.6vw;
    }

    .owl-carousel .h4 {
        font-size: 2.9vw;
    }

    .owl-carousel .p {
        font-size: 2.4vw;
    }

    .owl-carousel .owl-nav button.owl-next,
    .owl-carousel .owl-nav button.owl-prev {
        right: -3.7vw;
    }

    .owl-carousel .owl-nav button.owl-prev {
        left: -4.7vw;
    }

    .owl-carousel .text .p {
        padding: 0 1.5vw 1vw 0;
    }

    .filmBox .h4,
    .kidsBox .filmBox .h4 {
        font-size: 2.9vw;
    }

    .filmBox .p,
    .kidsBox .filmBox .p {
        font-size: 2.4vw;
    }
}
